*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(120deg,#020344,#28b8d5);
    padding:10px;
    
}
.todoapp{
    width:100%;
    max-width: 540px;
    background-color: aliceblue;
    border-radius: 10px;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    
}

.todoapp h2{
    color: #020344;
    display:flex;
    align-items: center;
    margin-top: 10px;

}
.todoapp h2 img{
    width:30px;
    margin-left: 10px;

}
.row{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    background:rgb(219, 233, 245);
    border-radius: 30px;
    padding-left:20px ;
    margin-bottom: 45px;
    margin-top: 10px;
}

input{
    flex:1;
    border: none;
    outline:none;
    background: transparent;
    padding:10px;

}

button{
    
    border:none;
    outline:none;
    cursor: pointer;
    background:rgb(45, 138, 209);
    border-radius:30px;
    padding:16px 46px;
    color:rgb(241, 243, 245);
    
    

}

 button:hover{
    background-color: #28b8d5;
    transition-duration: 0.6s;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding:12px 8px 12px 50px;
    text-decoration: none;
    cursor:pointer;
    position: relative;

}

ul li::before{
    content:'';
    position:absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position:center;
    top:9px;
    left: 6px;

}

ul li.checked{
    color:rgb(146, 185, 219);
    text-decoration: line-through;
}

ul li.checked::before{
     background-image: url(images/checked.png);
}

ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 23px;
    color:#020344;
    line-height: 40px;
    text-align:center;
    border-radius: 50%;


}
ul li span:hover{
    background-color: #b6d4e4;
}

