*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(120deg,#020344,#28b8d5);
    padding:10px;
}
.todoapp{
    width:100%;
    max-width: 540px;
    height:180px;
    background-color: aliceblue;
    border-radius: 10px;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    
}

.todoapp h2{
    color: #020344;
    display:flex;
    align-items: center;
    margin-top: 10px;

}
.todoapp h2 img{
    width:30px;
    margin-left: 10px;

}
.row{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    background:rgb(219, 233, 245);
    border-radius: 30px;
    padding-left:20px ;
    margin-bottom: 45px;
    margin-top: 10px;



}

input{
    flex:1;
    border: none;
    outline:none;
    background: transparent;
    padding:10px;

}